.footer {
    background-color: #43c2b1;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
    width: 100%;
    margin-left:0px ;
    position: relative; /* Ensures footer stays at the bottom */
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

.footer-links a:hover {
    text-decoration: underline;
}